.navigation-bar {
  max-width: 160px;
  padding: 0 var(--margin-logo);
}

.navigation-bar__compose-button {
  margin-top: var(--margin-l) !important;
}

.navigation-bar__nav {
  margin-top: var(--margin-l);
}

.navigation-bar__ul {
  list-style-type: none;
}

.navigation-bar__li:first-child {
  margin: 0  0 var(--margin-s);
}

.navigation-bar__li, .navigation-bar__li--selected {
  margin: var(--margin-s) 0;
}

.navigation-bar__li--selected {
  color: var(--color-red);
  font-weight: bold;
}

.navigation-bar__li--number {
  font-weight: bold;
}
