.header {
  height: 60px;
  background: var(--background-gray);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--background-white);
}

.header__logo {
  width: 160px;
  font-size: var(--text-logo);
  flex: 0 0 auto;
  font-weight: bold;
  padding: 0 var(--margin-logo);
}

.header__search-form {
  flex: 1 1 auto;
}

.header__search-field {
  padding: var(--margin-s);
  height: 40px;
  background: var(--background-white);
  max-width: 500px;
  margin-right: var(--margin-m);
}
