.header {
  height: 60px;
  background: var(--background-gray);
  display: flex;
  align-items: center;
  border-bottom: var(--margin-s) solid var(--background-white);
}

.header__logo {
  width: 160px;
  font-size: var(--font-size-l);
  flex: 0 0 auto;
  font-weight: bold;
  padding: 0 var(--margin-logo);
}

.header__email {
  font-size: var(--font-size-m);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  margin: 0 var(--margin-logo);
  text-align: right;
}

.header__logout {
  margin: 0 var(--margin-logo) 0 0!important;
  flex: 0 0 auto;
}

.header__search-form {
  flex: 1 1 auto;
  display: flex;
}

.header__search-field {
  padding: var(--margin-s);
  height: 40px;
  background: var(--background-white);
  max-width: 500px;
  margin-right: var(--margin-m);
}
