.login {
  max-width: 400px;
  margin: var(--margin-l) auto;
}

.login__h1 {
  text-align: center;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
}